<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esf.biz.mapper.EsfHireBillMapper">
    
    <resultMap type="EsfHireBill" id="EsfHireBillResult">
        <result property="id"    column="id"    />
        <result property="hireId"    column="hire_id"    />
        <result property="billScene"    column="bill_scene"    />
        <result property="billType"    column="bill_type"    />
        <result property="beforeNum"    column="before_num"    />
        <result property="balance"    column="balance"    />
        <result property="afterNum"    column="after_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="roomId"    column="room_id"    />
    </resultMap>

    <sql id="selectEsfHireBillVo">
        select id, hire_id, bill_scene, bill_type, before_num, balance, after_num, create_by, create_time, update_by, update_time, remark, tenant_id, room_id from esf_hire_bill
    </sql>

    <select id="selectEsfHireBillList" parameterType="EsfHireBill" resultMap="EsfHireBillResult">
        <include refid="selectEsfHireBillVo"/>
        <where>  
            <if test="hireId != null "> and hire_id = #{hireId}</if>
            <if test="billScene != null "> and bill_scene = #{billScene}</if>
            <if test="billType != null "> and bill_type = #{billType}</if>
            <if test="beforeNum != null "> and before_num = #{beforeNum}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="afterNum != null "> and after_num = #{afterNum}</if>
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
            <if test="roomId != null "> and room_id = #{roomId}</if>
        </where>
    </select>
    
    <select id="selectEsfHireBillById" parameterType="Long" resultMap="EsfHireBillResult">
        <include refid="selectEsfHireBillVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEsfHireBill" parameterType="EsfHireBill" useGeneratedKeys="true" keyProperty="id">
        insert into esf_hire_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hireId != null">hire_id,</if>
            <if test="billScene != null">bill_scene,</if>
            <if test="billType != null">bill_type,</if>
            <if test="beforeNum != null">before_num,</if>
            <if test="balance != null">balance,</if>
            <if test="afterNum != null">after_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="roomId != null">room_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hireId != null">#{hireId},</if>
            <if test="billScene != null">#{billScene},</if>
            <if test="billType != null">#{billType},</if>
            <if test="beforeNum != null">#{beforeNum},</if>
            <if test="balance != null">#{balance},</if>
            <if test="afterNum != null">#{afterNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="roomId != null">#{roomId},</if>
         </trim>
    </insert>

    <update id="updateEsfHireBill" parameterType="EsfHireBill">
        update esf_hire_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="hireId != null">hire_id = #{hireId},</if>
            <if test="billScene != null">bill_scene = #{billScene},</if>
            <if test="billType != null">bill_type = #{billType},</if>
            <if test="beforeNum != null">before_num = #{beforeNum},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="afterNum != null">after_num = #{afterNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEsfHireBillById" parameterType="Long">
        delete from esf_hire_bill where id = #{id}
    </delete>

    <delete id="deleteEsfHireBillByIds" parameterType="String">
        delete from esf_hire_bill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
